/*
Error: Undefined variable: "$dark-gray".
        on line 33 of olinuris/_nav.scss
        from line 12 of style.scss

Backtrace:
olinuris/_nav.scss:33
style.scss:12
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/script/tree/node.rb:50:in `perform'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `map'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:88:in `block in with_import'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:88:in `with_import'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$dark-gray\".\A         on line 33 of olinuris/_nav.scss\A         from line 12 of style.scss"; }
