.block-region {  padding: 3px 3px;  border: 1px dashed #b4d7f0;  text-align: center;  font-size: 1.0em;  clear:both;  margin: 10px 0 0 0;}
	
#banner .block-region {margin: 0 0 0 0;}
	
#blocks td, tbody th {padding: 3px 5px 3px 5px;}
	
#blocks a.tabledrag-handle {border-bottom:0;}
	
ul.primary {padding:0 0 0 6px;	margin: 0 0 0 0;}
	
ul.tabs li {margin: 5px 0 5px 0;}
	
#tinymce {background:#fff;}
	
.meta {margin:0 0 10px 0;}