/****************************************************************************
 * Cornell University 
 * Web Template with Two-line Unit Signature Banner
 * Main CSS Rules
 ****************************************************************************/
 @import url('cu_identity.css');  @import url('reset.css'); 

/***********************************************
	Headlines 
************************************************/ 
h2,
span.h2 {margin:0 0 15px 0; font-size:18px; font-weight:normal;}
	
h3,
span.h3 {clear:both; margin:0 0 15px 0; font-size:13px; line-height:14px; font-weight:bold;}
	
h4,
span.h4 {margin:15px 0 3px 0; font-size:12px; font-weight:bold;}
	

/***********************************************
	Text
************************************************/
p {margin:0 0 15px 0; font-size:13px; line-height:17px;}

#main p {}

span.large {font-size:14px;}
	
blockquote {margin:0 30px;}
	
address {clear:both; line-height:130%;}	

/***********************************************
	Lists 
************************************************/	
ul,
ol {margin:0 0 15px 0; padding:0; font-size:13px; line-height:14px;}
	
ul ul,
ul ol,
ol ol,
ol ul {font-size:10px;}
	
ul li {margin:5px 0 5px 10px; padding:0 0 0 0; list-style:none; list-style-image:url(../images/layout/bullet.gif);}
 
ol li {margin:5px 0 5px 30px; list-style:decimal !important;}
 
dl {margin:0 0 15px 0; line-height:14px;}
	
dt {margin:0 0 3px 0; font-size:12px; font-weight:bold;}
	
dd {margin:0 0 15px 0; font-size:13px; line-height:14px;}
	

/***********************************************
	Links 
************************************************/
a {border-bottom:1px solid #e5cfcf; color:#b31b1b; text-decoration:none;}

a:visited {color:#b37474;}
	
a:hover {color:#f00; border-color:#f00;}
	
a:active {color:#b31b1b; border-color:#e5cfcf;}

div.more-link {margin:0 10px;}

/****************************************************************************
 * Images
 ****************************************************************************/
img {border:0;}
 

/****************************************************************************
 * Tables
 ****************************************************************************/
table,
tr,
th,
td {margin:0; padding:0; border:0; font-size:10px;}
	
table {margin:15px 0; border-bottom:1px solid #e7e7e7; caption-side:bottom;}
	
th {padding:0 8px 3px 8px; font-weight:normal; text-align:left; color:#888;}
	
td,
tbody th {padding:3px 8px; border-top:1px solid #e7e7e7; font-size:11px; line-height:15px; vertical-align:top;}
	
tbody th {font-weight:bold; color:#222; text-align:right;}
	
tfoot td {font-weight:bold;}

caption {margin:0 0 15px 0; text-align:left; color:#888; font-size:11px;}	 

select,
textarea {font-family:verdana,arial,helvetica,sans-serif; font-size:10px;}
	
hr {height:1px; border-top:1px solid #bbb; display:block;}
  
#content input {margin:10px 0;}

table[align="right"] {float:right; margin: 0 0 10px 8px;}
table[align="left"] {float:left; margin: 0 8px 10px 0;} 

/**************************************************************************
	Main Layout
**************************************************************************/
body { 	margin:0; padding:0; font-family:verdana,arial,helvetica,sans-serif; color:#222; background:#b31b1b; font-size:14px;}

#header {margin:0 auto; width:890px; overflow:visible; position:relative; z-index:0;}
	
#primary-links {margin:0 auto; width:890px; height:27px;clear:both;}
	
#primary-links ul {float:left; margin:0; padding:0; border-left:1px solid black; width:889px; font-size:12px;}
	
#primary-links li {margin:0; padding:0; float:left; background:none;}
	
#primary-links a {float:left; padding:7px 20px; border:none; border-right:1px solid black; font-size:12px; font-weight:bold; color:#fff; text-decoration:none;}
	
#primary-links a:hover {background:#5D5137;}

/*** JQuery Menus ***/
ul.jquerymenu li span.parent {margin-top:4px;}
.block-jquerymenu span.open, 
.block-jquerymenu span.closed {padding:0;background:none;}

/*** Page Title ***/
/* #pagetitle {display:block;background:white; padding:10px 20px; font-size:24px; color:#999;font-family:georgia,"times new roman", serif;} */

#pagetitle {display: block; background: #999; padding: 8px 20px; font-size: 30px; font-family: georgia,"times new roman", serif; color: white; border-top: 3px solid #333; border-bottom: 3px solid #888; }

/****************************************************************************
 * Olin/Uris Header
 ****************************************************************************/
#olinurisbanner {width:890px; height:100px; background: url('../images/layout/black_70.png');display:block;position:relative;}
#olinurisbanner h1 {position:absolute; left:-9999em;}
#olinurisbanner img {position:relative; top:10px;left:10px;}
#olinurisbanner a {border:none;text-decoration:none;}


a.askalibrarian {background:#333; color:#e2c987; padding:5px; position:absolute; left:15px; top:70px; text-decoration:none;border:none; display:inline-block;font-weight:bold;}
a.askalibrarian:hover {text-decoration:underline;}
a.askalibrarian:visited {color:#e2c987;}

/****************************************************************************
 * Breadcrumbs
 ****************************************************************************/
#breadcrumbs {background:#e6e6e6; border-top:1px solid #b3b3aa; width:100%; float:left;}

#breadcrumbs .wrapper {display:block; padding:3px 15px;}

/****************************************************************************
 * Content Sections
 ****************************************************************************/
#wrap {display:block; background:#f0eee4; background:white url('../images/layout/wrap_bg.jpg') repeat-x left 75px; position:relative;}
 
#content {margin:0 auto; width:890px; background:white; overflow:auto; position:relative;}
	
#main {width:600px; padding:10px 20px 15px; float:right;}

body.left-sidebar #main {min-height:300px;}


/*******************************************************************************
Content Footer 
 ****************************************************************************/
#contentfooter {margin-left:220px;display:block; clear:both;}

/****************************************************************************
 * Page Contact 
 ****************************************************************************/
#block-views-page_contact_lastmod-block_1 {display:block; margin:50px 0 30px; padding:10px 0; border-top:1px dotted #ddd; color:#aaa;font-style:italic;}

/****************************************************************************
 * Secondary Navigation
 ****************************************************************************/

.left-sidebar #secondary-links,
.right-sidebar #secondary-links,
#secondary-links {margin-bottom:5px; float:left; clear:left; width:250px;}
	
.sidebars #secondary-links {margin-bottom:5px; float:left; clear:left; width:200px;}
 
#secondary-links ul {margin:0; padding:0; font-size:12px; font-weight:bold;}
	
#secondary-links li {float:left; margin:0; padding:0; width:100%; background:none;}
	
#secondary-links a {display:block; padding:10px; border:none; width:230px; border-bottom:2px solid #f4f4ef;}
	
#secondary-links a:visited {color:#b31b1b;}
		
#secondary-links a:hover {background:#f2f7fa; color:#f00;}
	
#secondary-links a:active {color:#b31b1b; background:none; font-weight:normal;}


/****************************************************************************
 * Left Sidebar
 ****************************************************************************/
.sidebars #left-sidebar {color:#666; float:left; clear:left; width:200px;}
	
.left-sidebar #left-sidebar {color:#666; float:left; clear:left; width:250px;}

.left-sidebar-block {margin:15px 0 10px 0; padding:5px 15px;}
	
#left-sidebar-block-first {margin-top:25px;}
	
#left-sidebar h2 {margin:0 0 5px 0; font-size:12px; font-weight:bold;}
	
#left-sidebar h3 {margin:0 0 5px 0; font-size:12px; font-weight:bold;}
	
#left-sidebar p {margin:0 0 10px 0; font-size:12px; line-height:15px;}
	
#left-sidebar ul {font-size:11px; padding:0 0 0 8px;}
	
#left-sidebar ul li {margin:2px 0 2px 5px; padding:0 0 0 10px; list-style:none; list-style-image:none;background:url(../images/layout/bullet.gif) no-repeat top left 0 5px; padding:0 0 0 10px;}
	
#left-sidebar ul li.leaf {list-style:none; list-style-image:none; background:url(../images/layout/bullet.gif) no-repeat top left 0 5px; padding:0 0 0 10px;}
	
body #left-sidebar ul li.expanded {list-style-image:none; background:url(../images/layout/menu-expanded.png) no-repeat 0 5px; list-style-type:none; padding:0 0 0 10px;}
	
body #left-sidebar ul li.collapsed {list-style-image:none; background:url(../images/layout/menu-collapsed.png) no-repeat 0 5px; list-style-type:none; padding:0 0 0 10px;}
	 
/****************************************************************************
 * Footer
 ****************************************************************************/
#footer {background:#b31b1b url(../images/layout/shadow.png) repeat-x left -50px; color:white; border-top:5px solid black; overflow:auto; padding-bottom:40px;}

#footer-content {margin:0 auto; width:850px; padding:20px;}
	
#footer .block {width:190px; float:left; margin:0 20px 0 0; clear:none;display:inline;block;}

#footer .block h2 {font-size:16px; font-weight:normal; color:#eee; margin:0 0 10px; font-family: georgia,"times new roman",times,serif;}

#footer .menu li {list-style-type:none; list-style-image:none; background:none; margin:0; padding:0;list-style:none;}

#footer  a {color:#BBB; text-decoration:none; border:none;}
#footer  a:active {color:#CCC;}
#footer  a:hover {color:#EEE;}

/*contact block*/
#footer #block-block-16 {clear:both; float:left; display:block; margin-top:20px; border-top:2px solid #991919; width:100%; padding:10px 0 0;}
#footer #block-block-16 p {margin:0 0 2px; letter-spacing:.5px;font-size:11px; }

/****************************************************************************
 * Hours Pages
 ****************************************************************************/

/****** today's hours box in header *****/
#header .view-id-building_hours_today {position:absolute; top:40px; right:10px; color:#D9CDB5; z-index:100; width:225px; zoom:1; display:inline-block; height:100px;z-index:1;}
#header .view-id-building_hours_today h2 {margin:0 0 5px; padding:0 0 5px; border-bottom:1px dotted white; font-weight:bold; font-size:14px;}
#header .view-id-building_hours_today h3 {display:inline; margin:0 0 3px 0; color:white; float:left; }
#header .view-id-building_hours_today p {display:inline; float:right; margin:0 0 0 5px; font-size:12px;}

div.view-id-banner_image_rotator {z-index:0;}

#header #hours_morelink {position:absolute; right:10px; top:105px; z-index:100;}
#header #hours_morelink a.morelink {border-bottom:none; color:#D9CDB5;}
 
/*other services hours*/
#block-block-8 h2 {font-size:12px;font-weight:bold; margin:5px 10px 0;}
#block-block-8 li a {text-decoration:none; border:none;font-size:11px;}

span.today {position:absolute;right:17%;}

div.semesterHours {text-align:left; width:80%; }
div.semesterHours em.daterange {font-size:12px;font-weight:normal;}

div.semesterHours span.hours {float:right;position:absolute; left:60%;}
div.semesterHours {}

div.regularHours {width:auto; margin:0 0 0 60px;}

div.exceptions {width:auto;margin:0 0 0 60px; background:#ddd; border:1px solid #ccc;}
div.exceptions h4 {margin:3px 0;}

div.view-hours-2-by-service-by-day {}

#quicktabs_tabpage_1_3 .views-field-field-hours-service-value {}

#quicktabs_container_2 {margin-bottom:15px;}

#quicktabs_container_2 dl {}
#quicktabs_container_2 dt {margin:0;}
#quicktabs_container_2 dd {}

#quicktabs_container_2 h3 {margin:0; display:block; color:white; margin: 0 0 5px; padding:3px 8px 5px; background:#b31b1b;}
#quicktabs_container_2 h4 {margin:0;}

/*** resets styles from hours by day page ***/
#quicktabs_container_2 div.view-id-school_days .view-content {width:100%; float:none; clear:none; padding:none; border-left:none;}
#quicktabs_container_2 div.view-id-school_days .view-footer {width:100%; float:none; clear:none;}

.attachment .view-id-hours_2_by_service_by_day {font-size:8px;}

/*** for the hours by day page ***/
div.view-id-school_days .view-content {width:50%; float:right; clear:right; border-left:1px dotted grey; padding-left:40px;}
div.view-id-school_days .view-footer {float:right; clear:right; width:50%;}

.view-id-hours_2_by_service_by_day {}
.view-id-hours_2_by_service_by_day .views-table {margin:3px 0 15px; padding:2px 4px;}
.view-id-hours_2_by_service_by_day .views-table td {border:none; font-size:12px; line-height:14px; padding:10px 3px; font-weight:bold; color:black;}

.view-display-id-attachment_1 .view-content tbody td {font-size:9px; line-height:9px; padding:4px; font-weight:normal; color:#777;}

.views-field-phpcode-3 {}

.views-field-nothing h3 {margin-bottom:5px;}

/******************************************************
 * Views accordions (on tags page)
 ******************************************************/
.views-accordion-item {font-size:12px; margin: 0 0 5px; padding:3px; }
.views-accordion-item a {text-decoration:none; border-bottom:none;}
.views-accordion-item p {font-size:12px; margin:0; line-height:16px;}
.views-accordion .more-link  {margin:0 15px 5px; position:relative; text-align:right; padding:1 10px; background:#4B5058; font-size:12px;}
.views-accordion .more-link a {border:none; color:white;}

.accordion-content {background:white; padding:5px; }

.accordion-item {}
.accordion-item-even {background:#eee;}
.accordion-active {clear:both;border:none;}

.views-accordion, 
.view-empty {border: 1px solid #000000; background:url("../images/layout/highlight.png") repeat-x scroll left -35px #4B5058; padding:5px 3px 3px; margin:0 0 15px;}
.views-accordion:hover {background:url("../images/layout/highlight.png") repeat-x scroll left -55px #4B5058;}

h3.accordion-header,
.view-empty h3 {padding:0 10px 5px; background: url('../images/layout/menu-collapsed-white.png') no-repeat left center; color:white; border:none;margin:0; }
h3.accordion-header-active {background: url('../images/layout/menu-expanded-white.png') no-repeat left center;}


/********************* Quicktabs ****************/
#quicktabs-1 {margin:0 0 20px 0; background:transparent;overflow:auto;}

#quicktabs-1 .views-row {margin:0 0 10px; }
#quicktabs-1 .views-field-title {font-weight:bold;}
#quicktabs-1 .view-content label {display:none;}

.quicktabs_main {background:#fff;}

.quicktabs_main.quicktabs-style-nostyle {border:1px solid #888; border-top:none; padding:10px; clear:both; overflow:visible;}
.quicktabs_main.quicktabs-style-nostyle select {border:1px solid #666; padding:3px 5px; font-size:12px; letter-spacing:.25px; }
.quicktabs_main.quicktabs-style-nostyle ul {overflow:auto; padding:0;}

ul.quicktabs_tabs.quicktabs-style-nostyle {border-bottom:1px solid #888; padding:0 5px 0 0; font:bold 12px/19px Verdana !important; font-weight:bold; margin:0;}

ul.quicktabs_tabs.quicktabs-style-nostyle {background:none;display:inline-block;width:100%;padding:0;}
ul.quicktabs_tabs.quicktabs-style-nostyle a {font:bold 12px/19px !important; text-decoration:none; color:#666; padding:3px 10px; display:inline-block;border:none;}
ul.quicktabs_tabs.quicktabs-style-nostyle a:hover {color:#222 !important;}

 ul.quicktabs_tabs.quicktabs-style-nostyle li {background:#eee url(../images/layout/shadow.png) repeat-x left -50px; border:1px solid #888; border-bottom:none;  margin:0 5px 0 0; position:relative; color:#333; text-transform:uppercase; font-family:'lucida grande', arial, sans-serif;font-size:12px; letter-spacing:.75px; -moz-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; border-radius: 3px 3px 0 0; display:inline-block; padding:0; top:1px; left:10px; float:left; }

ul.quicktabs_tabs.quicktabs-style-nostyle li:hover {background:#eee url(../images/layout/shadow.png) repeat-x left -30px; color:#ccc;}

ul.quicktabs_tabs.quicktabs-style-nostyle li.active {border:1px solid #888; border-bottom:1px solid #fff; background-color:#fff;}
ul.quicktabs_tabs.quicktabs-style-nostyle li.active:hover {border:1px solid #888; border-bottom:1px solid #fff; background-color:#fff;}
ul.quicktabs_tabs.quicktabs-style-nostyle li.active a {color:#b31b1b; }
ul.quicktabs_tabs.quicktabs-style-nostyle li.active a:hover {color:#b31b1b; } 

#quicktabs-3 .views-row {margin:0 0 10px; }
#quicktabs-3 .views-field-title {font-weight:bold; display:inline; margin: 0 0 5px;}

#quicktabs_container_1 ul li {list-style-image:none;}

/****************************************************************************
 * Exhibition Pages
 ****************************************************************************/
a.lightbox-processed {display:inline-block; border:none;}

a.lightbox-processed img {display:inline-block; border:1px solid black!important; padding:3px!important;margin:0 8px 5px 0!important;}

/****************************************************************************
 * TinyMCE and ImagePicker Frames
 ****************************************************************************/
#tinymce,
#imagepicker {background:white;}

#imagepicker #content,
#tinymce #content {float:none; width:100%;}

#imagepicker td,
#tinymce td {padding:0;}

#imagepicker #main,
#tinymce #main {width:100%; float:none; padding:0;}

iframe body {background:white;}
iframe #main {float:none; width:auto; padding:0;} 

img.imgp_img {margin:10px;}



/****************************************************************************
 * Miscellaneous
 ****************************************************************************/
#skipnav {position:absolute; top:-1000px; left:-1000px;}

.hidden {display:none;}

p.keymatch {display:none;} /*gets rid of keyword matches in search results - they're a curated list and they suck. */