

.olinuris-footer {
	padding: 2em 0;
	background: $charcoal-gray;
	color: white;
	.block-title {
		color: white;
		text-transform: uppercase;
		font-family: $font-family-cul;
		font-size: 20px;
	}
	.nav {
		margin-bottom: 1em;
	}
	.nav > li {
		float: left;
		padding: 0 15px;
		border-left: 1px solid $gray-lighter;
	}
	.nav > li > a {
		color: white;
		padding: 0;
	}
	.nav > li > a:hover,
	.nav > li > a:active,
	.nav > li > a:focus {
		background: inherit;
		text-decoration: none;
	}
	p, li {
		font-size: 14px;
	}
}

footer {
	padding: 2em 0;
	p, li {
		font-size: 14px;
	}
	.block-title {
		font-size: 14px;
		font-family: $font-family-cul;
		text-transform: uppercase;
		margin-top: 0;
	}
	.block {
		margin-bottom: .75em;
	}
}
.btn-give {
	background: $cornell-red;
	font-family: $font-family-cul;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 10px;
	border: 0;
	border-radius: 0;
}
.btn-give:hover,
.btn-give:active,
.btn-give:focus {
	border: 0;
	background: $cornell-dark-red;
	color: white;
}