// Cornell brand
// ------------------- //

.cornell-identity {
	.container {
		background: $cornell-red;
	}
	.cornell-logo {
		@include make-xs-column(4);
	}
	button {
		i {
			color: white;
		}
	}
}
.cu-insignia {
	float: left;
	margin-right: 1.5em;
}

// Library brand
// ------------------- //
.library-brand {
	margin-top: 1em;
	@include make-sm-column(8);
}
.brand {
	text-transform: uppercase;
	font-size: 32px;
	font-family: $font-family-cul;
	display: block;
	line-height: 1em;
	color: $gray-dark;
}
.brand:hover,
.brand:active,
.brand-focus {
	color: $dark-gray;
	text-decoration: none;
}
.cul-brand {
	color: $dark-gray;
	font-size: 24px;
	font-family: $font-family-cul;
	display: block;
	margin-bottom: .5em;
}
.cul-brand:hover {
	color: $dark-gray;
	text-decoration: none;
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
// @media (min-width: $screen-sm) { 
// }

// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md) {
// }
//Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }
