// Cornell brand
// ------------------- //

.cornell-identity {
	.container {
		background: $cornell-red;
	}
	.cornell-logo {
		@include make-xs-column(4);
	}
	button {
		i {
			color: white;
		}
	}
}
.cu-insignia {
	float: left;
	margin-right: 1em;
}

// Library brand
// ------------------- //
.library-brand {
	margin-top: 1em;
}
.brand {
	text-transform: uppercase;
	font-size: 25px;
	font-family: $font-family-cul;
	display: block;
	line-height: 1em;
	color: $gray-dark;
}
.brand:hover,
.brand:active,
.brand-focus {
	color: $gray-dark;
	text-decoration: none;
}
.cul-brand {
	color: $gray-dark;
	font-size: 20px;
	font-family: $font-family-cul;
	display: block;
}
.cul-brand:hover {
	color: $gray-dark;
	text-decoration: none;
}

// Laptops and Hours
// --------------------
header {
	.nav-tabs {
		margin-top: 1.25em;
		margin-bottom: 0;
		border: 0;
		a {
			color: $gray-dark;
			font-size: 14px;
			font-weight: 300;
			border-radius: 0;
			border: 0;
		}
	}
	i, .svg-inline--fa {
		margin-right: .25em;
		color: $cornell-red;
	}
	.tab-content {
		padding: 10px;
		background: #f3f1ef;
		height: 115px;
		.library {
			text-transform: uppercase;
			font-weight: 700;
			margin-right: .25em;
		}
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		// border-color: #dddad4;
		// border-bottom-color: transparent;
		background: $tan;
		border: 0;
		color: black;
	}
	.nav > li > a {
		padding: 5px;
	}
}
#laptops,
#hours {
	font-size: 13px;
	// h2 {
	// 	margin: 0 0 .5em 0;
	// 	font-size: 18px;
	// 	font-weight: 300;
	// 	padding-right: 1em;
	// }
	h3 {
		display: inline-block;
		font-size: 13px;
		font-weight: 700;
		margin: 0 .25em 0 0;
		text-transform: uppercase;
	}
	.badge {
		margin: 0 .25em;
		background: #dddad4;
		color: $gray-dark;
		font-weight: normal;
	}

	.label {
		margin-right: .25em;
		text-transform: uppercase;
	}
	.view {
		margin-top: .5em;
	}
}
// .hours {
// 	border-bottom: 1px solid #dddad4;
// }
// .laptop-library,
// .hours-library {
// 	margin: .15em 2em .5em 0;
// 	float: left;
// }
.laptop-library {
	margin-top: .5em;
}

// Search in header
// -------------------
#search {
	form {
		margin-top: 1.5em;
	}
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	header {
		padding: .5em 0 0 0;
	}
	.brand {
		font-size: 28px;
	}
	.cul-brand {
		font-size: 22px;
	}
	.library-brand {
		margin-top: 2.5em;
	}
	.cu-insignia {
		margin-top: 1em;
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	header {
		padding: 1em 0 0 0;
		.nav > li > a {
			padding: 5px 10px;
		}
		.nav-tabs {
			margin-top: 0;
			a {
				font-size: 18px;
			}
		}
		.tab-content {
			height: 95px;
		}
	}
	.brand {
		font-size: 36px;
	}
	.cu-insignia {
		margin-top: 0;
	}
	.library-brand {
		margin-top: 1.5em;
	}
}
//Large devices (desktops, 1200px and up)
@media (min-width: $screen-lg) {
	header {
		.nav > li > a {
			padding: 10px 15px;
		}
		.nav-tabs {
			a {
				font-size: 20px;
			}
		}
	}
}
