// Cornell brand
// ------------------- //

.cornell-identity {
	.container {
		background: $cornell-red;
	}
	.cornell-logo {
		@include make-xs-column(4);
	}
	button {
		i {
			color: white;
		}
	}
}
.cu-insignia {
	float: left;
	margin-right: 1.5em;
}

// Library brand
// ------------------- //
.library-brand {
	margin-top: 2em;
	margin-bottom: 2em;
	@include make-sm-column(8);
}
.brand {
	text-transform: uppercase;
	font-size: 48px;
	font-family: $font-family-cul;
	display: block;
	color: $gray-dark;
	line-height: 1em;
}
.brand:hover,
.brand:active,
.brand-focus {
	color: white;
	text-decoration: none;
}
.cul-brand {
	color: $gray-dark;
	font-size: 28px;
	font-family: $font-family-cul;
	display: block;
	margin-top: .5em;
}
.cul-brand:hover {
	color: $gray-dark;
	text-decoration: none;
}

header {
	padding: 1em 0 2em 0;
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.brand {
		font-size: 36px;
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.brand {
		font-size: 48px !important;
	}
}
//Large devices (desktops, 1200px and up)
@media (min-width: $screen-lg) {
}
