// Hero
// -------------- //
.hero {
	background: url("../img/Olin1865.jpg") no-repeat 50% 50%;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

// Hide welcome h1 on home page
// ------------------------------- //
.front {
	.main-content {
		h1 {
			display: none;
		}
	}
}


// Quicklinks
// --------------- //
.quick-links {
	@include make-sm-column(4);
	@include make-sm-column-offset(8);
	.well {
		background: #413f3c;
		opacity: .9;
		border: 0;
		color: white;
		padding: 0 0 20px 0;
		a {
			color: white;
			padding-bottom: .1em;
			border-bottom: 1px dotted $gray-light;
		}
		a:hover {
			border-bottom: 1px solid $gray-lighter;
		}
	}
	h2 {
		background: #302c29;
		opacity: .9;
		padding: 10px 20px;
		font-weight: 300;
		font-size: 30px;
	}
	ul {
		list-style: none;
		padding-left: 20px;
	}
	li {
		font-size: 16px;
		margin-bottom: .5em;
	}
}

// News and events
// ------------------- //
.feature {
	@include make-sm-column(4);
	.well {
		background: $gray-lighter;
		border: 0;
		padding: 0;
		h2 {
			background: #dddad4;
			padding: 10px 20px;
			font-weight: 300;
			font-size: 30px;
			margin: 0;
			i {
				color: $cornell-red;
			}
		}
	}
}
.news, .events {
	margin-top: -20px;
}