// Hero
// -------------- //
.hero {
	// background: url("../img/Olin1865.jpg") no-repeat 50% 50%;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

.home-content {
	padding-top: 20px;
}

// Hide welcome h1 on home page
// ------------------------------- //
.front {
	.main-content {
		h1 {
			display: none;
		}
	}
}


// Quicklinks
// --------------- //
.quick-links {
	@include make-sm-column(4);
	@include make-sm-column-offset(8);
	.well {
		background: #413f3c;
		opacity: .9;
		border: 0;
		color: white;
		padding: 0 0 10px 0;
		a {
			color: white;
			padding-bottom: .5em;
			border-bottom: 1px dotted $gray-light;
			display: block;
		}
		a:hover {
			border-bottom: 1px solid $gray-lighter;
		}
	}
	h2 {
		background: #302c29;
		opacity: .9;
		padding: 10px 20px;
		font-weight: 300;
		font-size: 28px;
		margin-bottom: .5em;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	li {
		font-size: 15px;
		margin-bottom: .5em;
	}
	.col1 {
		padding-left: 20px;
	}
	.col2 {
		padding-right: 20px;
	}
}

// News and events
// ------------------- //
.feature {
	.well {
		background: $gray-lighter;
		border: 0;
		padding: 0 0 20px 0;
		h2 {
			background: #dddad4;
			padding: 10px 20px;
			font-weight: 300;
			font-size: 30px;
			margin: 0 0 .5em 0;
			i {
				color: $cornell-red;
				margin-right: .35em;
			}
		}
	}
	h3 {
		margin: 5px 20px 10px 20px;
		font-size: 20px;
	}
	ul {
		padding: 0;
		list-style: none;
	}
	li {
		padding: 10px 20px;
	}
	li:first-child {
		padding-top: 0;
	}
	a {
		// color: white;
		padding-bottom: .1em;
		border-bottom: 1px dotted $gray-light;
	}
	a:hover {
		border-bottom: 1px solid $gray;
	}
	p {
		padding: 0 20px;
	}
	.nav-pills {
		margin-bottom: 1.5em;
		li {
			padding: 0;
		}
		a, a:hover, a:active, a:focus {
			background: $charcoal-gray;
			color: white;
			border: 0;
		}
	}
	.carousel {
		li {
			padding: 0;
		}
	}
	.date-display-single {
		font-size: 14px;
	}
}
.news {
	@include make-sm-column(8);
}
.more-link {
	text-align: right;
	margin-right: 20px;
	font-size: 13px;
	i {
		font-size: 90%;
	}
}


// Digital sign
// ------------------- //
.digital-sign {
	@include make-sm-column(4);
	text-align: center;
	// padding: 20px 0;
	margin-top: 20px;
	.region-digital-sign {
		background: rgba(0,0,0,.6);
		margin: 0 20px 20px 20px;
		padding: 20px 20px 40px 20px;
	}
	img {
		margin: 0 auto;
	}
}

.carousel-indicators {
	bottom: -40px;
	li {
		border-color: black;
	}
	.active {
		background: black;
	}
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.digital-sign {
		margin-top: -130px;
		.region-digital-sign {
			margin: 0 0 20px 0;
		}
	}
	.hero {
		min-height: 250px;
	}
	.carousel-indicators {
		width: auto;
	}

}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.digital-sign {
		margin-top: -250px;
	}
	.hero {
		min-height: 300px;
	}
	.carousel-indicators {
		width: 60%;
	}
}

// Large devices (desktops, 1200px and up)
@media (min-width: $screen-lg) {
	.digital-sign {
		.region-digital-sign {
			margin: 0 20px 20px 20px;
		}
	}
}