// Hero
// -------------- //
.hero {
	background: url("../img/Olin1865.jpg") no-repeat 50% 50%;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	min-height: 400px; // TODO: remove this when quick links content is in
}

// Main content
// -------------- //
.main-content {
	background: white;
	min-height: 500px; // just for template building; delete there is real content
	padding: 3em 0;
}
.main-text {
	@include make-sm-column(8);
	@include make-sm-column-push(4);
}

// Sidebar
// -------------- //
.sidebar {
	@include make-sm-column(4);
	@include make-md-column(3);
	@include make-sm-column-pull(8);
	margin-top: 3em;
}

// Drupal overrides
//--------------------//

body.admin-menu { padding-top: 0 !important; }

#admin-menu li { font-size: 9px; }

.block-simplesamlphp-auth {
	margin: 2em 0 3em 0;
}

// hide welcome h1 on home page
.front {
	.main-content {
		h1 {
			display: none;
		}
	}
}

// MEDIA QUERIES
// -------------------------


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.hero {
		header {
			.container {
			 	background: inherit;
			}
		}
	}
	.sidebar {
		margin-top: 0;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
}
/* Large devices (desktops, 1200px and up) */
@media (min-width: $screen-lg) {
}
