.navbar {
	border-radius: 0;
	margin-bottom: 0;
	min-height: 0;
}

// Mobile search and menu buttons
// --------------------------------- //
.navbar-toggle {
	margin: 0;
	font-size: 120%;
}

// Global nav
// ------------------- //
.region-global-nav {
	float: left;
}
.global-menu {
	background: $light-red;
	.nav {
		// margin: 2px 20px 0 0;
		li {
			float: left;
			text-transform: uppercase;
		}
		li:first-child {
			padding-left: 10px;
		}
		a {
			color: white;
			padding: 12px 5px;
			font-size: 12px !important;
		}
		a:hover, a:active, a:focus {
			background: inherit;
			text-decoration: underline;
		}
		.active {
			a, a:hover, a:active, a:focus {
				font-weight: 700;
			}
		}
	}
}

// Main nav
// ------------------- //
nav {
	background: $cornell-red;
	border-top: 4px solid black !important;
	.menu {
		li {
			float: left;
			a {
				color: white;
				font-size: 16px;
				padding: 12px 18px;
			}
			a:hover,
			a:active,
			a:focus {
				color: white;
				background: $cornell-dark-red;
			}
			ul {
				padding: 10px 0;
				a {
					font-size: 14px;
					border-bottom: 1px dotted $gray-light;
					margin-left: 15px;
					margin-right: 15px;
					padding: 6px 0;
				}
				a:hover,
				a:active,
				a:focus {
					background: inherit;
					border-bottom: 1px solid $gray-light;
				}
			}
		}
		.active-trail, .sfHover {
			a, a:hover, a:active, a:focus {
				background: $cornell-dark-red;
			}
			// dropdown links shouldn't be dark red
			ul {
				a, a:hover, a:active, a:focus {
					background: #282725 !important;
					opacity: .95;
				}
			}
		}
	}
}
.navbar {
	border: 0;
}

// Superfish overrides
// --------------------- //
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	top: 3em;
}
.sf-menu ul {
	width: 12em !important;
	background: #282725;
	opacity: .95;
}


// Mobile nav
// ------------------- //
#mobile-nav {
	background: white;
	a {
		color: $gray-dark;
		font-size: 14px;
		border-bottom: 1px solid $gray-lighter;
	}
	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	ul {
		border-bottom: 3px solid black;
		ul {
			border-bottom: 0;
			a {
				font-size: 12px;
				padding-left: 20px;
				text-transform: uppercase;
			}
		}
	}
}
#superfish-2.sf-vertical,
#superfish-2.sf-vertical li {
	width: 100%;
}

// Sidebar nav
// ------------------- //
.sidebar {
	.block-title {
		margin: 0;
		padding: .5em;
		font-size: 18px;
		background: $charcoal-gray;
		a {
			color: white;
			border: none;
		}
	}
	.nav > li {
		padding: 6px 0;
		font-size: 16px;
		border-bottom: 1px dotted $warm-gray;
	}
	.nav > li > a {
		padding: 0;
		border-bottom: 0;
		display: inline-block; // need this so the link text displays inline with menu icon
	}
	.nav > li > a:hover,
	.nav > li > a:active,
	.nav > li > a:focus {
		background: inherit;
	}
	.nav {
		margin-top: 1em;
		i {
			margin-right: .4em;
			color: $warm-gray;
		}
		li {
			// 3rd level
			ul {
				margin-top: .5em;
				padding-bottom: .5em;
				li {
					padding: 0;
					margin-left: 1.75em;
					font-size: 14px;
					border: 0;
				}
				i {
					display: none;
				}
				// 4th level
				ul {
					margin-bottom: .5em;
				}
			}
		}
		// 2nd level active
		.active {
			a, a:hover, a:active, a:focus {
				color: $cornell-red;
				font-weight: 700;
			}
			// 3rd level
			li {
				a, a:hover, a:active, a:focus {
					color: $link-primary;
					font-weight: normal;
				}
			}
			// 3rd level active
			li.active-trail {
				a, a:hover, a:active, a:focus {
					color: $cornell-red;
					font-weight: 700;
				}
			}
			i {
				color: $cornell-red;
			}
		}
	}
}
// Exhibitions
// ---------------
// move exhibitions menu down on exhibitions page
.page-node-22849 {
	#block-menu-block-5 {
		margin-top: 2em;
	}
}
// Highlight current exhibition menu
.menu-block-5 {
	li.active-trail:first-child {
		border-bottom: 5px solid $tan;
		margin-bottom: 2em;
		padding-bottom: 1em;
	}
	li li.active-trail:first-child {
		margin-bottom: 0;
		border-bottom: 0;
		padding-bottom: 0;
	}
}

// Chat box
#block-block-15 {
	margin-top: 3em;
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	#menu {
		.nav {
			float: right;
		}
	}
	nav {
		.navbar-nav > li > a {
			font-size: 14px;
		}
		.menu {
			li {
				a {
					font-size: 18px;
				}
			}
		}
	}
	
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	nav {
		.navbar-nav > li > a {
			font-size: 16px;
		}
		// .menu {
		// 	li {
		// 		a {
		// 			font-size: 16px;
		// 			padding: 12px 11px;
		// 		}
		// 	}
		// }
	}	
}
// Large devices (desktops, 1200px and up) 
@media (min-width: $screen-lg) {
	nav {
		.menu {
			li {
				a {
					font-size: 18px;
					padding: 12px 18px;
				}
			}
		}
	}
	.global-menu {
		.nav {
			a {
				padding: 12px 10px;
			}
		}
	}
}