// Events
// ---------
.event-listing {
	margin: 0 0 1.5em 0;
	h3 {
		font-size: 20px;
		margin: 0 0 .25em 0;
		line-height: 1.4em;
	}
	.date-display-single {
		display: block;
		margin: 0 0 .25em 0;
	}
}
.register-link {
	margin-top: .5em;
}

// Event field display
// ----------------------------
.node-type-event {
	.field {
		margin-bottom: .5em;
	}
}

// Equipment
// -----------------------

// Status list

.charged {
	font-weight: 700;
	font-size: 13px;
	display: block;
}
.overdue {
	background: $brand-danger;
	padding: .2em .6em .3em;
	border-radius: .25em;
	color: white;
	font-size: 13px;
	margin-bottom: .4em;
	display: inline-block;
}
.available {
	background: $brand-success;
	padding: .2em .6em .3em;
	border-radius: .25em;
	color: white;
	font-size: 13px;
}

// Availability box on equipment description node
#block-views-equipment-block-2 {
	padding: 20px 20px 5px 20px;
	border: 1px solid $border-color;
	margin-bottom: 1em;
	.block-title {
		font-weight: 300;
		margin-bottom: .25em;
	}
}

// Equipment description node
.field-name-field-equipment-photo {
	margin-bottom: 2em;
}
.field-name-field-equipment-full-title,
.field-name-field-equipment-manual,
.node-equipment-description .field-name-body,
.field-name-field-reservable {
	font-size: 16px;
	margin-bottom: 1em;
}

// New equipment UI - matrix
.equipment-category {
	@include make-sm-column(5);
	@include make-md-column(4);
	font-size: 16px;
	padding-top: .3em;
	margin-bottom: .25em;
}
.equipment-buttons {
	@include make-sm-column(5);
	@include make-md-column(4);
}
.equipment-pickup {
	margin-right: .5em;
}
.equipment-reserve {
}
.view-equipment-loans-reserves {
	.row {
		margin-bottom: .5em;
	}
	.btn-primary {
		background: $charcoal-gray;
		border-color: $charcoal-gray;
	}
	.btn-primary:hover,
	.btn-primary:active,
	.btn-primary:focus {
		background: $charcoal-dark;
		border-color: $charcoal-dark;
	}
}
// Category page with description
.view-equipment-loans {
	.attachment {
		margin-bottom: 1.5em;
	}
	.views-field-title {
		font-size: 16px;
	}
	.label {
		font-size: 90%;
		font-weight: normal;
		display: inline-block;
		margin-bottom: 3px;
	}
}

// Laptops block on Laptops, Peripherals, Calculators
// ----------------------------------------------------
.available-laptops {
	.block-title {
		font-weight: 300;
		font-size: 24px;
		margin-bottom: .75em;
	}
	.library {
		font-size: 16px;
		margin: 0 .5em .25em 0;
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
	}
	.platform {
		display: inline-block;
		margin-bottom: 1em;
		margin-right: .25em;
	}
	i {
		color: $cornell-red;
	}
}

// Exhibits
// ---------
.exhibit-date {
	margin: 0 0 .25em 0;
}
.exhibit-location {
	margin: 0 0 1em 0;
}
.past-exhibit {
	border-bottom: 1px solid $border-color;
	padding: 1.5em 0;
	h3 {
		margin-top: 0;
		font-size: 18px;
	}
	p {
		font-size: 14px;
	}
}


// MEDIA QUERIES
// -------------------------

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.pull-right {
		float: right !important;
	}
	.available-laptops {
		margin: 0 0 1em 0;
	}
	.equipment-category {
		margin-bottom: 0;
	}
}

/* Medium devices (desktops, 992px and up) */
// @media (min-width: $screen-md) {
// }
/* Large devices (desktops, 1200px and up) */
// @media (min-width: $screen-lg) {
// }