// Events
// ---------
.event-listing {
	margin: 0 0 1.5em 0;
	h3 {
		font-size: 20px;
		margin: 0 0 .25em 0;
		line-height: 1.4em;
	}
	.date-display-single {
		display: block;
		margin: 0 0 .25em 0;
	}
}

// Event field display
// ----------------------------
.node-type-event {
	.field {
		margin-bottom: .5em;
	}
}

// Equipment
// -----------------------

// Status list

.view-equipment {
	.views-table {
		.active {
			background-color: white !important;
		}
	}
	.available {
		background: $brand-success;
		padding: .2em .6em .3em;
		border-radius: .25em;
		color: white;
		font-size: 13px;
	}
	.charged {
		background: $brand-danger;
		padding: .2em .6em .3em;
		border-radius: .25em;
		color: white;
		font-size: 13px;
	}
}

// Availability box on equipment description node
#block-views-equipment-block-2 {
	padding: 20px 20px 5px 20px;
	border: 1px solid $border-color;
	margin-bottom: 1em;
	.block-title {
		font-weight: 300;
		margin-bottom: .25em;
	}
}

// Equipment description node
.field-name-field-equipment-photo {
	margin-bottom: 2em;
}
.field-name-field-equipment-full-title,
.field-name-field-equipment-manual,
.node-equipment-description .field-name-body,
.field-name-field-reservable {
	font-size: 16px;
	margin-bottom: 1em;
}