// Header search box
// -------------------------- //

.search-by-page-form {
	.container {
		width: auto;
		padding: 0;
	}
	.form-group {
		margin-bottom: 0;
	}
	label {
		display: none;
	}
	.form-control {
		width: 70%;
		float: left;
		margin-right: 5px;
	}
	.btn-primary {
		background: $warm-light-gray;
		border-color: $warm-gray;
		color: $gray-dark;
	}
}

// Results
.search-results {
	.search-info {
		display: none;
	}
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.search-by-page-form {
		.form-control {
			width: 61%;
		}
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.search-by-page-form {
		.form-control {
			width: 72%;
		}
	}
}
// Large devices (desktops, 1200px and up)
@media (min-width: $screen-lg) {
	.search-by-page-form {
		.form-control {
			width: 77%;
		}
	}
}