// Colors
// -----------------//

$cornell-red: #b31b1b;
$cornell-medium-blue: #0068ac;
$cornell-dark-red: #990f26;

$charcoal-gray: #7f7675;
$warm-light-gray: #dddad4;

$border-color: #dddddd;


// Google fonts
// -----------------//

$font-family-cul: 'Montserrat';        @import
url(//fonts.googleapis.com/css?family=Montserrat);
