// Colors
// -----------------//

$cornell-red: #b31b1b;
$cornell-medium-blue: #0068ac;
$cornell-dark-red: #990f26;


// Google fonts
// -----------------//

$font-family-cul: 'Montserrat';        @import
url(//fonts.googleapis.com/css?family=Montserrat);
